<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BookMyShow</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </head>
  <body>
    <!--Navigation Bar Code-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">BookMyShow</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Pricing</a>
          </li>
        </ul>
      </div>
    </nav>
    <!--ENd of Nav Bar-->

    <div class="container mt-5">
      <h2>Search for Movies, Events, Plays, Sports and Activities</h2>
      <form>
        <div class="form-group">
          <label for="search">Search:</label>
          <input
            type="text"
            class="form-control"
            id="search"
            placeholder="Enter keyword"
          />
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
      </form>

      <h3 class="mt-5">Recommended Movies</h3>
      <div class="row">
        <div class="col-md-4">
          <div class="card">
            <img
              src="https://images-cdn.ubuy.co.in/63b7b107d4159432fb5ec817-avengers-infinity-war-movie-poster.jpg"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Hanu-Man</h5>
              <p class="card-text">9.7/10 15.4K Votes</p>
              <a href="#" class="btn btn-primary">More Info</a>
            </div>
          </div>
        </div>

        <!-- Add more recommended movies here -->
      </div>
    </div>
  </body>
</html>
