<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <center>
      <p class="fs-3">Enter Movie Details</p>
      <form class="w-50 text-start" action="/dashboard" method="POST">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label"
            >Movie Banner Url</label
          >
          <input
            type="text"
            class="form-control"
            id="url"
            name="url"
            aria-describedby="emailHelp"
          />
        </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Movie Name</label>
          <input
            type="text"
            class="form-control"
            id="name"
            name="name"
            aria-describedby="emailHelp"
          />
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label"
            >Description</label
          >
          <input type="text" class="form-control" id="desc" name="desc" />
        </div>

        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Movie ID</label>
          <input type="text" class="form-control" id="mid" name="mid" />
        </div>

        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label"
            >Theater ID</label
          >
          <input type="text" class="form-control" id="tid" name="tid" />
        </div>

        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">City</label>
          <input type="text" class="form-control" id="city" name="city" />
        </div>

        <div class="d-grid gap-2">
          <button class="btn btn-primary" type="submit">Add Movie</button>
          <a class="btn btn-primary" type="submit" href="/theater"
            >Add Theater</a
          >
        </div>
      </form>
    </center>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
