<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{mname}}</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div><p class="text-center fs-3">Watch Location in your City</p></div>
    <form action="/movie/{{mname}}" method="POST">
      <div class="input-group container pb-5">
        <button type="submit" class="btn btn-dark">Select City</button>

        <select
          name="inputGroupSelect01"
          class="form-select"
          id="inputGroupSelect01"
          onchange=""
        >
          <option selected>Choose...</option>
          {% for x in citylist %}

          <option value="{{loop.index}}">{{x}}</option>

          {% endfor %}
        </select>
      </div>
    </form>

    <div class="container">
      <div class="row">
        <div class="col">
          <div class="card" style="width: 18rem">
            <img
              src="https://png.pngtree.com/png-clipart/20210705/ourmid/pngtree-movie-icon-3d-illustration-png-image_3562961.jpg"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">{{mname}}</h5>
              <p>Theater Name :- {{tn}}</p>
              <p>City Name :- {{minstance.city}}</p>

              <a href="#" class="btn btn-primary">Book Ticket</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
