<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{moviedetails.name}}</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div><p class="text-center fs-3">Watch Location in your City</p></div>
    <form action="/movie/{{mid}}" method="POST">
      <div class="input-group container pb-5">
        <button type="submit" class="btn btn-dark">Select City</button>

        <select
          name="inputGroupSelect01"
          class="form-select"
          id="inputGroupSelect01"
          onchange=""
        >
          <option selected>Choose...</option>
          {% for x in citylist %}

          <option value="{{loop.index}}">{{x}}</option>

          {% endfor %}
        </select>
      </div>
    </form>

    <div class="container">
      <div class="row">
        {% for m in td %}
        <div class="col-4">
          <div class="card" style="width: 18rem">
            <img
              src="https://png.pngtree.com/png-clipart/20210705/ourmid/pngtree-movie-icon-3d-illustration-png-image_3562961.jpg"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 name="tname" class="card-title">{{m.tname}}</h5>
              <p class="card-text">{{moviedetails.name}}</p>
             
                <a href="/confirmticket/{{m.tid}}/{{moviedetails.mid}}" type="submit" class="btn btn-primary">
                  Book Ticket
                </a>
              </form>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </body>
</html>
